@import "../../style/_var"
@import "../../style/_rwd"

#footer-info-box
    border-top: 1px solid $color-border-0
    padding-top: 2rem
    display: flex
    @include rwd-for($from: lg)
        flex-direction: row
        justify-content: space-between
    @include rwd-for($to: lg)
        flex-direction: column
        align-items: center
        justify-content: space-between
        height: 10rem

    
    ul li
        padding: 0 1rem
        &, & > *
            color: $color-gray-1
            @include font-set(0.8rem, 200)
            
#footer-copyright
    margin-top: 2rem
    width: 100vw
    margin-left: -9vw
    background-color: #ddd
    text-align: center
    line-height: 4
    a
        border: 1px solid transparent
        transition: border-color 0.5s
        &:link, &:visited
            color: initial
        &:hover
            border-color: $color-theme-1