#nav-mobile
    width: 100%
    background-color: $color-theme-1
    display: flex
    justify-content: space-around
    position: sticky
    bottom: 0
    button
        padding: 5px 0
        background-color: transparent
        color: $color-theme-0
        display: flex
        flex-direction: column
        align-items: center
        i::before
            @extend .font-awesome-solid
            margin-bottom: 3px
    li:nth-child(1) button i::before
        content: '\f879'
    li:nth-child(2) button i::before
        content: '\f406'
    li:nth-child(3) button i::before
        content: '\f002'
    li:nth-child(4) button i::before
        content: '\f218'
