*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
    &:link, &:visited
        color: initial
    &:active
        filter: invert(0.3)
img
    max-width: 100%
    height: auto
ul
    list-style: none
