input[type="text"], input[type="number"],
input[type="email"], input[type="tel"],
input[type="url"], input[type="password"],
input[type="search"], textarea
    //padding, color
    font-weight: 400
    &:focus
        background-color: $color-theme-0
        outline: 2px solid $color-theme-1

input, select, textarea
    font-size: 100%

.form-row
    display: block//or w100p
.required
    color: #e2401c
