@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;700;900&display=swap");
/*
note: 16px 的 base size 是常用的初始數值
idea: 以 md 之下的區間為 16 px
每 40px 將基本 fz 縮小一個 px。直到 12px。
    而在 md 之上則是換成 18px

note: 須留意有些介面縱使在移動裝置
也必須確保 fz=16px e.g. input
*/
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 991.98px) {
  html {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: initial;
}

a:active {
  -webkit-filter: invert(0.3);
          filter: invert(0.3);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.contact-box {
  margin: 5rem 0;
}

.contact-box h1 {
  margin-bottom: 2rem;
  text-align: center;
  color: #9ac448;
  font-size: 2rem;
  font-weight: 700;
}

.contact-box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .contact-box > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1279.98px) {
  .contact-box > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
}

.contact-box > div h2 {
  font-size: 1.2rem;
  font-weight: 300;
}

.home-contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279.98px) {
  .home-contact-card {
    margin: 1rem 0;
  }
}

.home-contact-card div > *:last-child {
  color: #9ac448;
}

.home-contact-card i {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #aaa;
}

.home-contact-card:nth-child(1) > i::before {
  content: "\f0e0";
}

.home-contact-card:nth-child(2) > i::before {
  content: "\f879";
}

.home-contact-card:nth-child(3) > i::before {
  content: "\f017";
}

nav {
  margin: 0 9vw;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-link-wrap {
  margin-left: 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#nav-link-wrap li {
  width: 6rem;
  height: 1rem;
  margin: auto 0;
}

#nav-link-wrap .nav-link {
  height: 1.5rem;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#nav-link-wrap .nav-link:link, #nav-link-wrap .nav-link:visited {
  color: #212e08;
}

#nav-link-wrap .nav-link:hover, #nav-link-wrap .nav-link-active {
  color: #9ac448;
}

#nav-tool {
  padding: 1rem 0;
  width: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav-tool form {
  margin-bottom: 0.8rem;
  padding: 0.2rem;
  border: 1px solid #cfd4c3;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

#nav-tool form input, #nav-tool form button {
  height: 100%;
  border: none;
  background-color: transparent;
}

#nav-tool form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #aaa;
}

#nav-tool form button i::before {
  content: "\f002";
  font-size: 1rem;
  color: #aaa;
}

#nav-tool > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-tool > div > * {
  width: 50%;
}

#nav-tool .login-btn {
  height: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#nav-tool .login-btn a {
  text-align: center;
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}

#nav-tool .login-btn a:link, #nav-tool .login-btn a:visited {
  color: #9ac448;
}

#nav-tool .login-btn a:hover {
  -webkit-filter: brightness(1.07);
          filter: brightness(1.07);
}

#nav-tool .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav-tool .cart-btn a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav-tool .cart-btn a:link, #nav-tool .cart-btn a:visited {
  color: #fe791c;
}

#nav-tool .cart-btn a img {
  width: 1.5rem;
  margin-right: 0.25rem;
}

/*
note: 16px 的 base size 是常用的初始數值
idea: 以 md 之下的區間為 16 px
每 40px 將基本 fz 縮小一個 px。直到 12px。
    而在 md 之上則是換成 18px

note: 須留意有些介面縱使在移動裝置
也必須確保 fz=16px e.g. input
*/
#footer-info-box {
  margin: 0 9vw;
  padding-top: 2rem;
  border-top: 1px solid #cfd4c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  #footer-info-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 991.98px) {
  #footer-info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer-info-box > ul {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 575.98px) {
  #footer-info-box > ul:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer-info-box > ul:first-child > li:first-child {
    text-align: center;
    border: none;
    margin-bottom: 1rem;
  }
}

#footer-info-box ul li {
  padding: 0 1rem;
}

#footer-info-box ul li, #footer-info-box ul li > * {
  color: #555;
  font-size: 0.8rem;
  font-weight: 200;
}

#footer-copyright {
  margin-top: 2rem;
  width: 100%;
  background-color: #ddd;
  color: #666;
  text-align: center;
  line-height: 4;
}

@media screen and (max-width: 991.98px) {
  #footer-copyright {
    font-size: 1rem;
  }
}

#footer-copyright a {
  color: #666;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#footer-copyright a:hover {
  border-color: #9ac448;
}

#info-box {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background-color: #3d9cd2;
}

#info-box * {
  color: #fff;
}

@media screen and (min-width: 576px) {
  #info-box {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #info-box p {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767.98px) {
  #info-box {
    bottom: 50px;
    display: block;
  }
}

#info-box p {
  padding: 1rem 1.5rem;
}

#info-box p i::before {
  content: "\f05a";
}

#info-box button {
  background-color: #378cbd;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 767.98px) {
  #info-box button {
    position: relative;
    left: 100%;
    bottom: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  #info-box button i::before {
    content: "\f057";
  }
}

@media screen and (max-width: 991.98px) {
  #info-box button i::before {
    content: "";
  }
}

#nav-mobile {
  width: 100%;
  height: 50px;
  background-color: #9ac448;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

#nav-mobile li {
  width: 25%;
}

#nav-mobile button {
  padding: 5px 0;
  background-color: transparent;
  color: #fffffb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-mobile button i::before {
  margin-bottom: 3px;
}

#nav-mobile li:nth-child(1) button i::before {
  content: '\f879';
}

#nav-mobile li:nth-child(2) button i::before {
  content: '\f406';
}

#nav-mobile li:nth-child(3) button i::before {
  content: '\f002';
}

#nav-mobile li:nth-child(4) button i::before {
  content: '\f218';
}

@media screen and (min-width: 768px) {
  #home-page {
    margin: 0 9vw;
  }
}

@media screen and (max-width: 991.98px) {
  #home-page {
    margin: auto;
  }
}

#home-nav {
  width: 100%;
  margin: 2rem 0;
}

#home-nav li {
  width: 25%;
  color: #9ac448;
}

@media screen and (min-width: 768px) {
  #home-nav li {
    font-size: 1.2rem;
    font-weight: 500;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 991.98px) {
  #home-nav li {
    font-size: 0.8rem;
    font-weight: 500;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#home-nav li i::before {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  #home-nav li i::before {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 991.98px) {
  #home-nav li i::before {
    margin-right: 0;
  }
}

#home-nav li:nth-child(1) > i::before {
  content: "\f0a1";
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#home-nav li:nth-child(2) > i::before {
  content: "\f043";
}

#home-nav li:nth-child(3) > i::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f299";
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#home-nav li:nth-child(4) > i::before {
  content: "\f164";
}

#home-page .Carousel-root-1 {
  overflow: visible;
}

#home-page .Carousel-indicator-3:hover {
  color: #9ac448;
}

#home-page .Carousel-active-5 {
  color: #212e08;
}

@use "sass:color" {}/*
note: 16px 的 base size 是常用的初始數值
idea: 以 md 之下的區間為 16 px
每 40px 將基本 fz 縮小一個 px。直到 12px。
    而在 md 之上則是換成 18px

note: 須留意有些介面縱使在移動裝置
也必須確保 fz=16px e.g. input
*/
.layout-single-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  .layout-single-page {
    padding: 0 9vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1279.98px) {
  .layout-single-page {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.layout-single-page header {
  background-color: #eee;
  margin-right: 1rem;
}

@media screen and (min-width: 992px) {
  .layout-single-page header {
    height: auto;
    width: 13rem;
  }
}

@media screen and (max-width: 1279.98px) {
  .layout-single-page header {
    height: 5rem;
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .layout-single-page header div {
    position: fixed;
    top: 40%;
  }
}

@media screen and (max-width: 1279.98px) {
  .layout-single-page header div {
    position: relative;
    width: 14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.layout-single-page header h2, .layout-single-page header h3 {
  text-align: center;
  font-size: 1rem;
  line-height: 2;
}

.layout-single-page header h2 {
  color: #aaa;
}

.layout-single-page article {
  min-height: 70vh;
  color: #555;
}

@media screen and (min-width: 992px) {
  .layout-single-page article {
    padding: 0;
  }
}

@media screen and (max-width: 1279.98px) {
  .layout-single-page article {
    padding: 0 5vw;
  }
}

.layout-single-page article h1 {
  font-size: 1.563rem;
}

.layout-single-page article h2 {
  font-size: 1.25rem;
}

.layout-single-page article > * {
  margin-bottom: 1rem;
}

.layout-single-page article ul {
  font-size: 0.9rem;
}

.layout-single-page article ul li {
  line-height: 2;
  margin-top: 0.5rem;
}

#logo-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  #logo-gallery {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 1279.98px) {
  #logo-gallery {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#logo-gallery img {
  border-radius: 10px;
  border: 1px solid rgba(154, 196, 72, 0.5);
}

@media screen and (min-width: 992px) {
  #logo-gallery img {
    max-width: 128px;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 1279.98px) {
  #logo-gallery img {
    max-width: 30%;
    margin: 0;
  }
}

#info-sheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  #info-sheet {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1279.98px) {
  #info-sheet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#info-sheet img {
  width: 300px;
  height: auto;
}

.terms-chap {
  margin: 1rem 0;
}

.terms-chap li:hover {
  background-color: #f5ffdd;
}

.terms-quotes {
  position: relative;
  margin: 1rem 0;
}

.terms-quotes::before, .terms-quotes::after {
  position: absolute;
  color: #55555555;
}

.terms-quotes::before {
  content: '\f10d';
  top: 0;
  left: 0;
}

.terms-quotes::after {
  content: '\f10e';
  bottom: 0;
  right: 0;
}

.terms-quotes li {
  text-indent: 2rem;
}

.terms-quotes i::before {
  margin-right: 1rem;
  color: #555;
  content: '\f068';
}

#layout-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  #layout-prod {
    margin: 0 9vw;
  }
  #layout-prod div:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1279.98px) {
  #layout-prod {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

aside {
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1279.98px) {
  aside {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

aside > *:not(:last-child) {
  border-bottom: 1px solid #cfd4c3;
}

aside h2 {
  padding-bottom: 1rem;
}

aside ul {
  margin: 1rem 0;
  padding-bottom: 1rem;
}

aside ul li {
  line-height: 2;
}

#prod-list-1 {
  color: #9ac448;
}

#prod-list-2 {
  color: #fe791c;
}

body {
  background: #fffffb;
  color: #212e08;
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont,'palatino', serif;
  position: relative;
}

.highlight {
  color: #fe791c;
}

.center, #nav-mobile li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #cfd4c3;
}

.breadcrumb li {
  font-size: 0.8rem;
}

.breadcrumb li:last-child {
  color: #fe791c;
}

.breadcrumb li span {
  margin: 0 0.4rem;
}

.row-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-ul li:not(:last-child), .row-ul div:not(:last-child) {
  border-right: 1px solid #cfd4c3;
}

.font-awesome-solid, .home-contact-card i, #nav-tool form button i::before, #info-box p i::before, #info-box button i::before, #nav-mobile button i::before, #home-nav li i::before, .terms-quotes::before, .terms-quotes::after, .terms-quotes i::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
