@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: initial;
}

a:active {
  -webkit-filter: invert(0.3);
          filter: invert(0.3);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

nav {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-link-wrap {
  margin-left: 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#nav-link-wrap li {
  width: 6rem;
  height: 1rem;
  margin: auto 0;
}

#nav-link-wrap .nav-link {
  height: 1.5rem;
  -webkit-transition: color .4s;
  transition: color .4s;
}

#nav-link-wrap .nav-link:link, #nav-link-wrap .nav-link:visited {
  color: #212e08;
}

#nav-link-wrap .nav-link:hovernpm {
  color: #9ac448;
}

#nav-tool {
  padding: 1rem 0;
  width: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav-tool form {
  margin-bottom: 0.8rem;
  border: 1px solid #cfd4c3;
  border-radius: 1px;
}

#nav-tool form input, #nav-tool form button {
  height: 100%;
  border: none;
}

#nav-tool form input {
  color: #aaa;
}

#nav-tool > div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-tool > div > * {
  width: 50%;
}

#nav-tool .login-btn {
  height: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#nav-tool .login-btn a {
  text-align: center;
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}

#nav-tool .login-btn a:link, #nav-tool .login-btn a:visited {
  color: #9ac448;
}

#nav-tool .login-btn a:hover {
  -webkit-filter: brightness(1.07);
          filter: brightness(1.07);
}

#nav-tool .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav-tool .cart-btn a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav-tool .cart-btn a:link, #nav-tool .cart-btn a:visited {
  color: #fe791c;
}

#nav-tool .cart-btn a img {
  width: 1.5rem;
  margin-right: 0.25rem;
}

/*
note: 16px 的 base size 是常用的初始數值
idea: 以 md 之下的區間為 16 px
每 40px 將基本 fz 縮小一個 px。直到 12px。
    而在 md 之上則是換成 18px

note: 須留意有些介面及使在移動裝置
也必須確保 fz=16px e.g. input
*/
#footer-info-box {
  border-top: 1px solid #cfd4c3;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  #footer-info-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 991.98px) {
  #footer-info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer-info-box > ul {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 575.98px) {
  #footer-info-box > ul:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer-info-box > ul:first-child > li:first-child {
    text-align: center;
    border: none;
    margin-bottom: 1rem;
  }
}

#footer-info-box ul li {
  padding: 0 1rem;
}

#footer-info-box ul li, #footer-info-box ul li > * {
  color: #555;
  font-size: 0.8rem;
  font-weight: 200;
}

#footer-copyright {
  margin-top: 2rem;
  width: 100vw;
  background-color: #ddd;
  text-align: center;
  line-height: 4;
}

@media screen and (min-width: 768px) {
  #footer-copyright {
    margin-left: -9vw;
  }
}

@media screen and (max-width: 991.98px) {
  #footer-copyright {
    font-size: 1rem;
  }
}

#footer-copyright a {
  border: 1px solid transparent;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#footer-copyright a:hover {
  border-color: #9ac448;
}

#home-nav {
  width: 100%;
  margin: 2rem 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#home-contact-box {
  margin: 5rem 0;
}

#home-contact-box h1 {
  margin-bottom: 2rem;
  text-align: center;
  color: #9ac448;
}

#home-contact-box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 992px) {
  #home-contact-box > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1279.98px) {
  #home-contact-box > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
}

.home-contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279.98px) {
  .home-contact-card {
    margin: 1rem 0;
  }
}

.home-contact-card img {
  margin-right: 1rem;
}

.home-contact-card div > *:last-child {
  color: #9ac448;
}

/*
note: 16px 的 base size 是常用的初始數值
idea: 以 md 之下的區間為 16 px
每 40px 將基本 fz 縮小一個 px。直到 12px。
    而在 md 之上則是換成 18px

note: 須留意有些介面及使在移動裝置
也必須確保 fz=16px e.g. input
*/
#disclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 992px) {
  #disclaimer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1279.98px) {
  #disclaimer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#disclaimer header {
  background-color: #eee;
  margin-right: 1rem;
}

@media screen and (min-width: 992px) {
  #disclaimer header {
    height: auto;
    width: 13rem;
  }
}

@media screen and (max-width: 1279.98px) {
  #disclaimer header {
    height: 5rem;
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  #disclaimer header div {
    position: fixed;
  }
}

@media screen and (max-width: 1279.98px) {
  #disclaimer header div {
    position: relative;
    width: 14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#disclaimer header h2, #disclaimer header h3 {
  text-align: center;
  font-size: 1rem;
  line-height: 2;
}

#disclaimer header h2 {
  color: #aaa;
}

#disclaimer section {
  min-height: 70vh;
}

#disclaimer section > * {
  margin-bottom: 1rem;
}

#disclaimer section > *:not(h1) {
  color: #555;
}

#disclaimer section ul {
  font-size: 0.9rem;
}

#disclaimer section ul li {
  margin-bottom: 1rem;
  margin-left: 1.8rem;
  text-indent: -1.6rem;
  line-height: 2;
}

#layout-prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#layout-prod div:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 2rem;
}

aside {
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside > *:not(:last-child) {
  border-bottom: 1px solid #cfd4c3;
}

aside h2 {
  padding-bottom: 1rem;
}

aside ul {
  margin: 1rem 0;
  padding-bottom: 1rem;
}

aside ul li {
  line-height: 2;
}

#prod-list-1 {
  color: #9ac448;
}

#prod-list-2 {
  color: #fe791c;
}

body {
  background: #fffffb;
  color: #212e08;
  font-family: "Noto Serif TC", -apple-system, BlinkMacSystemFont,'palatino', serif;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 9vw;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow {
  padding: 3px;
  margin-right: 1rem;
  display: inline-block;
  border: solid #9ac448;
  border-width: 0 3px 3px 0;
}

.right {
  -webkit-transform: rotate(-45deg) translateY(-1px);
          transform: rotate(-45deg) translateY(-1px);
}

.breadcrumb {
  /* span--> (小箭頭 + 子標籤) */
  padding-bottom: 1rem;
  border-bottom: 1px solid #cfd4c3;
  font-size: 0.8rem;
}

.breadcrumb span:last-child {
  color: #fe791c;
}

.row-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-ul li:not(:last-child), .row-ul div:not(:last-child) {
  border-right: 1px solid #cfd4c3;
}
