@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200;300;400;500;700;900&display=swap")
@import "./_var"
@import "./_reset"
@import "../00_layout/sass/_nav"
@import "../00_commonComponents/_contactBox"
@import "../00_layout/sass/_footer"
@import "../00_layout/sass/_infoBox"
@import "../01_homePage/sass/_homePage"
@import "../01_homePage/sass/_homeCarousel"
@import "../09_singlePage/_layoutSinglePage"
@import "../10_prod/_layoutProd"

body
    background: $color-theme-0
    color: $color-theme-2
    font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont,'palatino', serif

.center
    display: flex
    align-items: center
    justify-content: center
//* 箭頭用樣式
.arrow
    padding: 3px
    margin-right: 1rem
    display: inline-block
    border: solid $color-theme-1
    border-width: 0 3px 3px 0
.right
    transform: rotate(-45deg) translateY(-1px)
// 箭頭用樣式 END
//* 頁面導引樣式
.breadcrumb
    /* span--> (小箭頭 + 子標籤) */
    //todo 尚未用連結寫
    padding-bottom: 1rem
    border-bottom: 1px solid $color-border-0
    font-size: 0.8rem
    span:last-child
        color: $color-cart
// 頁面導引樣式 END
//* 列清單樣式
.row-ul
    display: flex
    li:not(:last-child),div:not(:last-child)
        border-right: 1px solid $color-border-0
// 列清樣式 END
//* Icon from font Awesome
.font-awesome-solid
    display: inline-block
    font-style: normal
    font-variant: normal
    text-rendering: auto
    font-family: "Font Awesome 5 Free"
    font-weight: 900
// Icon from font Awesome END

